.container{
  margin: 16px;
  padding: 16px;
  background-color: #f2f2f2;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 200px;
  min-width: 60%;
}
.containers{
  display: flex;
  justify-content: center;
}
h1{
  text-align: center;
}
h1 {
  color: #333;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

mat-header-cell,
mat-cell {
  padding: 10px;
}

mat-header-row,
mat-row {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #ccc;
}

mat-header-row {
  background-color: #eee;
}

mat-row:nth-child(even) {
  background-color: #f9f9f9;
}

mat-cell {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}