.container{
  display: flex;
  flex-direction: column;
  width: 500px;
}

.fill{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: #008080;
}

.create-button{
  width: 30%;
  background-color: teal;
  color: #fff;
  font-size: 16px;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  margin-bottom: 16px;
}
.create-button:hover {
  background-color: #008080;
}

.create-button:active {
  background-color: #006363;
}